.magnetic-pole-table {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .magnetic-pole-table h2 {
    text-align: center;
    color: #333;
  }
  
  .magnetic-pole-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .magnetic-pole-table th, .magnetic-pole-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  .magnetic-pole-table th {
    /* background-color: #f2f2f2; */
    /* color: #333; */
    font-weight: bold;
  }
/*   
  .magnetic-pole-table tr:nth-child(even) {
    background-color: #363636;
  }
  
  .magnetic-pole-table tr:hover {
    background-color: #200606;
  } */