@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");


.light button {
  color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(19, 11, 107);
  border: none;
}

.dark button {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(10, 8, 28);
  color:beige;
  border: darkred;
}

/* Left column */
.leftcolumnZXCV {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumnZXCV {
  float: left;
  width: 25%;
  padding-left: 20px;
}



/* TABLE for EArthQuake and User Individual Posts */
.userPostTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-style: solid;
}

.userPostTable td,
.userPostTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.light .userPostTable tr:nth-child(even) {
  background-color: #6db79cb0;
}

.light .userPostTable tr:hover {
  background-color: #aaff00b2;
}

.light .userPostTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6db6;
  color: white;
}

.dark .userPostTable tr:nth-child(even) {
  background-color: #1e1515b0;
}

.dark .userPostTable tr:hover {
  background-color: #000000b2;
}

.dark .userPostTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000b6;
  color: white;
}


h3 {
  text-align: center;
}


.light input[type=submit] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #999898;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  margin-top: 5px;
}

.light input[type=submit]:hover {
  background-color: #000000;
  color: #ffffff
}


.dark input[type=submit] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid red;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #031e0f;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  margin-top: 5px;
  color: red;
}


.cardEmergency {
  border-radius: 10px;
  background-color: #000000;
  max-width: 300px;
  margin: auto;
  padding: 5px;
  color: #ff00aa
}

.cardEmergency:hover {
  border-radius: 10px;
  background-color: #000000e0;
  max-width: 300px;
  margin: auto;
  color: #ff00c8;
  padding: 5px;
}


.dark button:hover {
  background-color: #373436;
  color: #fbffda;
}


ul {
  text-decoration: none;
  background-color: #2b1404;
  list-style-type: none;
  align-items: center;
  text-align: center;
  padding: 20px;
}

li {
  text-decoration: none;
  text-align: center;
  display: inline;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;

}

/* SEARCH BAR CSS */

.box {
  position: relative;
  width: 75%;
  margin: auto;

}


.box:hover input {
  width: 75%;
  background: #03911b;
  border-radius: 10px;
}

.box i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #ffd52d;
  transition: .2s;
  width: 75%;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}

/* END SEARCH BAR CSS */

#individual {
  background-color: #ff060615;
  border-radius: 10%;
  padding: 10px;
}



/* CARD PROFILE */


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}



a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}



.viewsDIV {

  margin: auto;
  text-align: center;
  background-color: #000000dc;
  color: #3cff00;
  padding: 10px;

}


:root .light {
  --surface-color: #fff;
  --curve: 40;
}

:root .dark {
  --surface-color: #321111;
  --curve: 40;
}

* {
  box-sizing: border-box;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0.5;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #3a1212;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #3a1125;
}

.card__status {
  font-size: .8em;
  color: #692547;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #7e1a4c;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ultraelem {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 7px;
  row-gap: 7px;
  column-gap: 7px;
  background-color: rgba(255, 255, 255, 0);
}

.listelem {
  height: 40vh;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0);
}



/* Individual card */

.imageIndView {
  border: solid;
  border-color: #000;
  border-radius: 10px;
}

.tableContain {
  width: 700px;
  margin: auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-color: #000;
  text-align: center;

}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #000000;
  text-align: center;

}



tr:hover {
  background-color: coral;
}

.light footer {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}



.dark footer {
  background-color: rgb(41, 37, 29);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.planetimages {
  max-width: 100px;
  max-height: auto;
}


/* Modal HOme Component */
* {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

.light .modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#ffe8e8, 0.25);
  color: #000;

}

.light .modal-container {
  max-height: 90vh;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #000;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
  border-style: solid;

  @media (max-width: 600px) {
    width: 90%;

  }
}

.light .modal-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light .modal-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;
}

.light .modal-container-body {
  padding: 24px 32px 51px;
  overflow-y: auto;
}

.rtf {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.125;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5;
  }

  &>*+* {
    margin-top: 1em;
  }

  &>*+ :is(h1, h2, h3) {
    margin-top: 2em;
  }

  &> :is(h1, h2, h3)+* {
    margin-top: 0.75em;
  }

  ul,
  ol {
    margin-left: 20px;
    list-style-position: inside;
  }

  ol {
    list-style: numeric;
  }

  ul {
    list-style: disc;
  }
}

.light .modal-container-footer {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  gap: 12px;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -51px;
    left: 24px;
    right: 24px;
    height: 50px;
    flex-shrink: 0;
    background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
    pointer-events: none;
  }
}



.dark .modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#140f0f, 0.25);
  color: #000;

}

.dark .modal-container {
  max-height: 90vh;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #140f0f;
  color: #000;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#403636, 0.25);
  border-style: solid;
  border-color: red;

  @media (max-width: 600px) {
    width: 90%;

  }
}

.dark .modal-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #ff0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark .modal-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;

}

.dark .modal-container-body {
  padding: 24px 32px 51px;
  overflow-y: auto;
}

.dark .modal-container-footer {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #5b4a4a;
  gap: 12px;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -51px;
    left: 24px;
    right: 24px;
    height: 50px;
    flex-shrink: 0;
    pointer-events: none;
  }
}

.light .button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: red;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;

  &.is-ghost {

    &:hover,
    &:focus {
      background-color: #dfdad7;
    }
  }
}

.dark .button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;

  &.is-ghost {

    &:hover,
    &:focus {
      background-color: #000000;
    }
  }

  &.is-primary {
    background-color: #750550;
    color: #ff0000;

    &:hover,
    &:focus {
      background-color: #4a0433;
    }
  }
}

/* For NAvigation BAr Inner COlor */
.container-fluid {
  background-color: rgb(255, 255, 255);
}



.navigationBAr {
  z-index: 1000;
  background-color: rgb(0, 0, 0);
}

.card p {
  color: black
}

p {
  color: #000;
}



.cardCONTAIN {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {

  .cardCONTAIN {
    max-width: 100%;
    margin: auto;
    text-align: center;
  }

  .tableContain {
    width: 100%;
    margin: auto;
    text-align: center;
  }
}

.registerCONTAIN {
  max-width: 550px;
  margin: auto;
  text-align: center;
}

.card__image {
  max-width: 500px;
  max-height: 350px;
}

.light .edit {
  background-color: rgb(193, 221, 210);
}

.dark .edit {
  background-color: rgb(0, 0, 0);
  color: red;
}

.dark .edit button {
  background-color: rgb(0, 0, 0);
  color: red;
  border: red solid;
}

.dark .edit button:hover {
  background-color: rgb(32, 11, 11);
  color: red;
  border: red solid;
}



.dark .indexButtonsPRESERVECOMMUNITYOBSERVATORY {
  background-color: #000000;
  color: red;
  border: solid red;
  margin-bottom: 3px;
}

.light .indexButtonsPRESERVECOMMUNITYOBSERVATORY {
  background-color: #ececec;
  color: rgb(0, 0, 0);
  border: solid rgb(0, 174, 255);
  margin-bottom: 3px;

}

.light .registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.light .registerbtn:hover {
  opacity: 1;
}

.dark .registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.dark .registerbtn:hover {
  opacity: 1;
}

.light .loginregisterwords {
  color: "black"

}

.dark .loginregisterwords {
  color: "red"

}


.light .commentBox {
  background-color: #88ceb5c4;
}

.dark .commentBox {
  background-color: #000000c4;
}

input {
  border-radius: 10px;
}



.cardIndex{
  width: 100%;
  height: 150px;
  background-color: #0483a3c0;

}
.cardIndex :hover{
  width: 100%;
  height: 150px;
  background-color: #ffffff;

}
.imageIndex{
  width: 150px;
  height:"auto";
border-radius: 10px;
border: solid black;
}


@media (max-width:700px){
  .toggledropdownsearchbarIndex{
    width: 250px;
    margin: auto;
  }


}


.individualCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: auto;
  background-color: whitesmoke;
  padding: 7px;

}

.individualCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.individualCardNoImage{
  width: 330px;
  height: 100px;
  border-radius: 10px;
}

.individualProfile{
  width: 30px;
  height: 30px;
   }




/* 
.individualTitle{

  color: whitesmoke;
  font-weight: bold;
text-shadow: #000;
padding-bottom: 10px;
}
*/
.individualdate{

  background-color: rgb(189, 189, 190);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 3px;
} 

.individualContainer {
  padding: 2px 16px;
}