/* 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



input[type=submit] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #999898;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  margin-top: 5px;
}

input[type=submit]:hover {
  background-color: #000000;
  color:#ffffff
}

body{

  background-color: #ffffff;
  margin: auto;
  color:#373436
}

.cardEmergency{
  border-radius: 10px;
  background-color: #000000;
  max-width: 300px;
  margin:auto;
  padding: 5px;
  color:#ff00aa
}
.cardEmergency:hover{
  border-radius: 10px;
  background-color: #000000e0;
  max-width: 300px;
  margin:auto;
  color:#ff00c8;
  padding: 5px;
}


@media (min-width: 0px) and (max-width: 400px) {



  input[type=submit] {
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #7c031a;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
    margin-top: 5px;
    color:#ffffff
  }
  
  input[type=submit]:hover {
    background-color: #000000;
    color:#ffffff
  }

  body{
    display:fixed;
    margin: auto;
    text-align: center;
  }
button{

background-color: #000000;
color: #fbffda;
padding-top: 5px;
padding-bottom: 5px;
width:100%;
padding-top: 0px;
padding-bottom: 5px;
}

button:hover{
  background-color: #000000;
color:#fbffda;}

}

input[type=submit] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  margin-top: 5px;
  color:white
}

input[type=submit]:hover {
  background-color: #000000de;
  color:#c54c62
}

body{
  display:fixed;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button{

background-color: #000000;
color: #fbffda;
padding-top: 9px;
padding-bottom: 9px;
width:100%;
border-radius: 10%;
font-size: 17px;

}

button:hover{
background-color: #000000;
color:#ffffff;
font-style:oblique}

ul {text-decoration: none;
background-color: #2b1404;
list-style-type: none;
  align-items: center;
  text-align: center;
  padding: 20px;}
li{text-decoration: none;
text-align: center;
display: inline;
padding-left: 7px;
padding-right: 7px;
text-decoration: none;

}

.container{

  display: flex;
  flex-wrap: wrap;

}

.item {
  order: 5; /* default is 0 */
  background-color: #999898;
  margin:auto;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
}


input[type=text] {
  width: 75%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d8d8d8;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 5px;
  color: #373436;
}


input[type=email] {
  width: 75%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d8d8d8;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 5px;
  color: #373436;
}



/* SEARCH BAR CSS */

.box{
  position: relative;
  width: 75%;
  margin: auto;

}


.box:hover input{
  width: 75%;
  background: #03911b;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #ffd52d;
  transition: .2s;
  width: 75%;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}

/* YouTube icon */




/* END SEARCH BAR CSS */

#individual{
background-color: #ff060615;
border-radius: 10%;
padding: 10px;
}

.skydescription{

color:#000000;
background-color: #ffffff;
margin: auto;
padding: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #fbffda5e;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* CARD PROFILE */


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}